{% extends 'internships/base.html' %}

{% load i18n %}
{% load mathfilters %}
{% load url_replace %}

{% block title %}HEIs Employers / Company List{% endblock %}


{% block content %}
<!-- Title Header Start -->
<section class="inner-header-title">
    <div class="container">
        <h1>{% trans "Company List" %}</h1>
    </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<section>
    <div class="container">
        {% for company in pagination_companies %}
            {% cycle 'start' 'end' as position_row silent %}
            {% if position_row == 'start' %}
                <div class="row">
            {% endif %}
                    <div class="col-md-6 col-sm-6">
                        {% include 'internships/company_card.html' %}
                    </div>
            {% if position_row == 'end' or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        {% if pagination_companies.paginator.num_pages > 1 %}
            <div class="row">
                <ul class="pagination">
                    {% if pagination_companies.has_previous %}
                        <li><a href="?{% url_replace page=pagination_companies.previous_page_number %}" class="previous"><i class="ti-arrow-left"></i></a></li>
                        {% if pagination_companies.previous_page_number != 1 %}
                            <li><a href="?{% url_replace page=1 %}">1</a></li>
                        {% endif %}
                        {% if pagination_companies.previous_page_number|sub:1 > 1 %}
                            <li><a href="#" class="disabled"><i class="fa fa-ellipsis-h"></i></a></li>
                        {% endif %}
                        <li><a href="?{% url_replace page=pagination_companies.previous_page_number %}">{{ pagination_companies.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="active">
                        <a href="?{% url_replace page=pagination_companies.number %}">{{ pagination_companies.number}}</a>
                    </li>
                    {% if pagination_companies.has_next %}
                        <li><a href="?{% url_replace page=pagination_companies.next_page_number %}">{{ pagination_companies.next_page_number }}</a></li>
                        {% if pagination_companies.paginator.num_pages|sub:pagination_companies.next_page_number > 1 %}
                            <li><a href="#" class="disabled"><i class="fa fa-ellipsis-h"></i></a></li>
                        {% endif %}
                        {% if pagination_companies.next_page_number != pagination_companies.paginator.num_pages %}
                            <li><a href="?{% url_replace page=pagination_companies.paginator.num_pages %}">{{ pagination_companies.paginator.num_pages }}</a></li>
                        {% endif %}
                        <li><a href="?{% url_replace page=pagination_companies.next_page_number %}" class="next"><i class="ti-arrow-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}