{% extends 'internships/base.html' %}

{% load static %}
{% load i18n %}


{% block title %}HEIs Employers / Forgot Password{% endblock %}

{% block content %}
<section class="login-screen-sec simple-bg-screen" style="background-image:url({% static 'img/authbackgroud.png' %});">
    <div class="container">
        <div class="login-screen">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" class="img-responsive" alt=""></a>
            <h4 class="text-center" style="color: #11b719;">{% trans "Reset Password for" %} "{{ confirmation_user.email }}"</h4>
            <form method="post">
                {% csrf_token %}
                <input type="password" class="form-control" placeholder="{% trans 'New Password' %}" name="password" required>
                <button class="btn btn-login" type="submit" style="padding: 10px 30px;">{% trans "Reset password" %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}{% include 'internships/footer_light.html' %}{% endblock %}