{% load static %}
{% load i18n %}
<a href="{{ university.get_detail_url }}"><div class="organization-card">
    <div class="organization-card__logo-wrapper">
        <img class="organization-card__logo" src="{% if university.logo %}{{ university.logo.url }}{% else %}{% static 'img/university.png' %}{% endif %}">
    </div>
    <div class="organization-card__info">
        <h3 class="organization-card__title">
            {{ university.name }}
        </h3>
        <div class="organization-card__items">
            <span class="organization-card__item">
                {{ university.country.name }}
            </span>
            <span class="organization-card__item">|</span>
            <span class="organization-card__item">
                {% trans "Active internships" %}: {{ university.get_active_internships.count }}
            </span>
        </div>
    </div>
</div></a>