{% extends 'admins/base.html' %}

{% block title %}HEIs – Employers / Administrator's page / Edit University{% endblock %}

{% block page-title %}Edit University{% endblock %}

{% block content %}
{% for field in university_form %}
    {% for error in field.errors %}
        <h4 class="text-danger">{{ field.label }}: {{ error|escape }}</h4>
    {% endfor %}
{% endfor %}
{% if messages %}
    {% for message in messages %}
        <h4 class="text-{{ message.tags }}">{{ message }}</h4>
    {% endfor %}
{% endif %}
<div class="panel panel-darkblue">
    <div class="panel-body basic-form-panel">
        {% include 'admins/universities/edit_form.html' %}
    </div>
</div>
{% endblock %}